.bg_color{
   color: #DB0B5F #6F00ED;
}
a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #757575;
}

@media only screen and (max-width: 576px) {
    .bg_color{
        margin-top: -80px;
        padding: 10px;
        margin-bottom: 10px;
        
    }
  }