.features-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 1280px;
    margin: 0 auto;
}

.features-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 66px;
    text-align: center;
    color: #1A1919;
}

.features-des {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #757575;

}

.see-all-btn {
    width: 174px;
    height: 65px;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}


@media screen and (max-width: 680px) {

    /* features  */
    .features-container {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 16px;
    }
}