.background {
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
}

.width {
    width: 1280px;
    margin: 0 auto;
}

.banner-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 100px;
    color: #1A1919;

}

.text-linear {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    background-clip: text;
}

.banner-describe {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

.get-started-btn {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    width: 172px;
    height: 65px;
    margin-top: 32px;
}


.banner-img img {
    width: 816px;

}

@media screen and (max-width: 680px) {
    .width {
        width: 100%;
        text-align: center;
        padding: 0 15px;
    }

    .banner-title {
        font-size: 24px;
        line-height: 40px;
    }

    .banner-describe {
        font-size: 16px;
    }
    .banner-img img {
        width: 90%;
        display: block;
        margin: 0 auto;
    }

    /* features  */
    .features-container{
        grid-template-columns: 1fr;
        width: 100%;
    }
}